*{
  padding: 0;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
}

.container {  
  display: grid;
  grid-template-columns: 1.5fr 7fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  min-height: 90vh;
  grid-auto-flow: column dense;
  grid-template-areas:
    "Menu Content"
}

.Header { 
  -webkit-box-shadow: 1px 16px 18px -1px rgba(34, 60, 80, 0.07);
  -moz-box-shadow: 1px 16px 18px -1px rgba(34, 60, 80, 0.07);
  box-shadow: 1px 16px 18px -1px rgba(34, 60, 80, 0.07);
  margin-bottom: 20px;
}

.Menu {
   grid-area: Menu; 
   background-color:#fff;
   margin-right: 20px;
   -webkit-box-shadow: 8px 0px 16px -6px rgba(34, 60, 80, 0.2);
   -moz-box-shadow: 8px 0px 16px -6px rgba(34, 60, 80, 0.2);
   box-shadow: 8px 0px 16px -6px rgba(34, 60, 80, 0.2);
   text-align: center;
  }
  .Nav-Container-a{
    margin-bottom: 20px;
  }

.Content { 
  grid-area: Content; 
  background-color: #f6f6f6;
  padding: 15px;
}


